.SignUpForm-div h1 {
    margin: 30px;
    text-transform: capitalize;
}

.SignUpForm input{
    background-color: #fcfcfc;
}

.SignUpForm button{
    background-color: #C7F5C4;
    color: black;
}

.SignUpForm button:hover{
    background-color: #88C2A5;
    color: black;
}